/* Header formatting */

h1.title {
  margin: 0px;
  font-size: 0em;
}
h1, .h1 {
  font-weight: bold;
}
h5, .h5 {
  font-size: 1.2em;
}
h2, .h2 {
  border-bottom: solid;
  padding: 4px;
}

/* Section div margins */

div.level2 {
  margin-top: 80px;
}
div.level3 {
  margin-top: 50px;
}
div.level4 {
  margin-top: 30px;
}

/* Div formatting */

div.summary {
  background-color:#DAF5F0;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 2px;
  margin-top: 16px;
  margin-bottom: 20px;
}
div.important {
  background-color:#EEF3F9;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Block quote formatting */

blockquote {
  border-left-color: #D94800;
  border-left-width: 10px;
  color: #8D3B12;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Fontawesome icon style */

.fa {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
}
.fa-github:hover {
  opacity: 0.7;
}
.fa-twitter:hover {
  opacity: 0.7;
}
